<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 class="text-success text-center">Your javascript repositories.</h1>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        {{#each finalData}}
        <div class="card m-4" style="width: 18rem;">
            <img src="/images/javascript.svg.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ this.name }}</h5>
                <p class="card-text text-danger">Owner: {{ this.owner.login }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-info">Repository id: {{ this.id }}</li>
                <li class="list-group-item text-info"> description: {{ this.description }}</li>
            </ul>
            <div class="card-body">
                <a href={{ this.html_url }} class="card-link mr-4 text-info">Repository Link</a>
                <a href={{ this.owner.html_url }} class="card-link text-info">Profile</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>